.signal-sequence {
  display: flex;
  flex: 1;
}

.signal-sequenceContainer {
  flex: 1;
  width: 0;
  padding-top: 1px;
}

.signal-sequenceNameContainer {
  flex: 0 0;
  text-align: center;
  border-right: 1px solid #f0f0f0;
}

.signal-sequenceName {
  position: relative;
  display: inline-block;
  font-size: 10px;
  color: 'inherit';
  writing-mode: vertical-rl;
  letter-spacing: 0.25em;
  text-indent: 5px;
  cursor: default;
}

.signal-sequenceNameHorizontal {
  position: fixed;
  background-color: #333;
  padding: 5px;
  color: #f7f7f7;
  border-radius: 2px;
  top: 10px;
  left: 10px;
  writing-mode: horizontal-tb;
  text-align: left;
  text-indent: 0;
  font-size: 12px;
}

.signal-sequenceNameContainer:hover .signal-sequenceName {
  z-index: 999999;
  color: transparent;
}
.signal-sequenceNameContainer:hover .signal-sequenceNameHorizontal {
  display: block;
}
