.action-props {
  background-color: #f0f0f0;
  min-height: 25px;
  margin-bottom: 1px;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: #333;
  box-sizing: border-box;
}

.action-propsValue {
  flex: 1;
}
