.signals .list {
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  width: 100%;
  list-style-type: none;
  height: calc(100vh - 206px);
  overflow-y: scroll;
}

.signals .list-item {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}
.signals .list-item-grouped {
  padding-right: 25px;
}

.signals .list-item:hover {
  background-color: #fafafa;
}

.signals .list-activeItem {
  background-color: #fafafa;
}

.signals .list-fadedItem {
  opacity: 0.1;
}

.signals .list-activeItem span:nth-of-type(1) {
  font-weight: bold;
}

.signals .list-withinExecution {
  border-left: 5px solid #ddd;
}

.signals .list-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #4285f4;
}

.signals .list-name {
  font-size: 0.9rem;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.signals .list-groupCount {
  position: absolute;
  right: 4px;
  top: -1px;
  font-size: 0.7rem;
}

.signals .list-type {
  margin-left: 5px;
  font-size: 10px;
  font-weight: bold;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.ft-indication {
  font-weight: normal;
  font-size: 10px;
}

.list-item-error {
  color: #eb1e1e;
}
