sudo: false

language: node_js
node_js: '6'
cache:
  directories:
    - node_modules
    - "$HOME/.electron"
    - /Library/Caches/Homebrew
    - $HOME/.npm
os:
  - osx
  - linux

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update && brew install wine && wine --version && brew install makensis  ;fi
addons:
  apt:
    sources:
      - deadsnakes
      - sourceline: 'ppa:ubuntu-toolchain-r/test'
    packages:
      - rpm
      - bsdtar
      - icnsutils
      - gcc-4.9
      - gcc-multilib
      - g++-multilib
      - graphicsmagick
      - rpm
      - xz-utils

notifications:
  email: false
before_script:
- npm prune
after_success:
- |
  git remote add auth https://cerebraljs:${GH_TOKEN}@github.com/cerebral/cerebral-debugger;
  git config --global user.email "christianalfoni@gmail.com";
  git config --global user.name "Christian Alfoni";
  if [[ $TRAVIS_PULL_REQUEST == 'false' ]]; then
    npm run build;
    if [[ $TRAVIS_OS_NAME == 'linux' ]]; then
      travis_wait 600 DEBUG="*" npm run package:linux --verbose;
    fi
    if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
      travis_wait 600 DEBUG="*" npm run package:mac_and_win --verbose;
    fi
    if [[ $? -ne 0 ]] ; then
     exit 1
    fi
  fi
branches:
  only:
  - master