.mutations {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
  font-size: 10px;
  height: calc(100vh - 101px);
}

.mutations-title {
  flex: 0 0 30px;
  margin: 0;
  height: 30px;
  padding: 0 10px 0 10px;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
}

.mutations-stat-mutations {
  color: rgb(220, 100, 40);
  margin-right: 5px;
}

.mutations-stat-providers {
  color: rgb(40, 160, 170);
  margin-right: 5px;
}

.mutations-stat-divider {
  margin: 0 0.5rem;
}

.mutations-settingsContainer {
  display: flex;
  margin-left: auto;
}

.mutations-settingsContainer label {
  margin-left: 10px;
}

.mutations .list {
  background-color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  width: 100%;
  list-style-type: none;
  height: 100%;
  overflow-y: scroll;
}

.mutations .list-item {
  position: relative;
  display: flex;
  padding-left: 15px;
  min-height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
}

.mutations .list-item:hover {
  background-color: #fafafa;
}

.mutations .list-remembered {
  position: absolute;
  left: 7.5px;
  top: 50%;
  margin-top: -2.5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #999;
}

.mutations .list-item.faded {
  opacity: 0.5;
}

.mutations .list-item .mutation {
  flex: 3;
}

.mutations .list-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  background-color: #4285f4;
}

.mutations .record-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mutations .list-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mutations .list-content > div:first-child {
  flex: 1;
}

.mutations .signal-name {
  flex: 0 0 200px;
  font-size: 12px;
  text-overflow: ellipsis;
  cursor: pointer;
}

.mutations .action-name {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 26px;
  line-height: 1;
  color: #bababa;
}

.mutations .mutation {
  padding: 0 !important;
  margin: 3px 0;
}

.mutations .signal-name:hover {
  color: #1e78c3;
}

.mutations .mutation {
  padding-top: 5px;
  padding-bottom: 5px;
}

.timetravel-button {
  border: 1px solid #dadada;
  margin-right: 5px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #fff;
  width: 50px;
  cursor: pointer;
}

.timetravel-button.active {
  background-color: #333;
  color: #fff;
  cursor: default;
}

.timetravel-button:disabled {
  opacity: 0.2;
}
