.service {
  margin: 3px 0;
  display: flex;
  align-items: flex-start;
}

.service i {
  flex: 0 0 auto;
  top: 0;
  color: #ddd;
}

.service-serviceName {
  font-weight: bold;
  flex: 0 0 auto;
  font-size: 12px;
  line-height: 20px;
}

.service-serviceMethod {
  margin-left: 5px;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 12px;
  line-height: 20px;
}

.service-serviceArgs {
  display: flex;
  margin-left: 5px;
  font-size: 12px;
  line-height: 20px;
}

.service-returnValue {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 21px;
  color: #cacaca;
}

.service-serviceArgs > * {
  margin-right: 5px;
}
