@font-face {
  font-family: 'icomoon';
  src: url('./icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  position: relative;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  top: 1px;
  margin-right: 5px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: '\ea36';
}
.icon-up:before {
  content: '\ea32';
}
.icon-mutation:before {
  content: '\e94e';
}
.icon-signals:before {
  content: '\e91d';
}
.icon-path:before {
  content: '\ea42';
}
.icon-model:before {
  content: '\e964';
}
.icon-components:before {
  content: '\e9bc';
}
.icon-computed:before {
  content: '\e979';
}
.icon-view:before {
  content: '\ea80';
}
.icon-reaction:before {
  content: '\e9aa';
}
.icon-executedCount:before {
  content: '\e984';
}
/*
.icon-spinner11:before {
  content: "\e984";
}

.icon-feed:before {
  content: "\e91d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-database:before {
  content: "\e964";
}
.icon-hour-glass:before {
  content: "\e979";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-embed2:before {
  content: "\ea80";
}
*/
