@font-face {
  font-family: 'icomoon';
  src: url('./icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  position: relative;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;
  top: 1px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: '\e904';
}
.icon-up:before {
  content: '\e905';
}
.icon-mutation:before {
  content: '\e900';
}
.icon-signals:before {
  content: '\e901';
}
.icon-path:before {
  content: '\e902';
}
.icon-model:before {
  content: '\e906';
}
.icon-components:before {
  content: '\e903';
}
